@import "./components/header";
@import "./components/company";
@import "./components/commit";
@import "./components/howItWorks";
@import "./components/ourWork";
@import "./components/brands";
@import "./components/team";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding-bottom: 500px;
}

