@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.nav {
  background-color: #ffffff;
  height: 88px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1254901961);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 120px;
}
.nav .logo {
  width: 144px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
}
.nav .links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.nav .links .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-family: "Inter", sans-serif;
  transition: all 0.5s ease-in;
}
.nav .links .link:hover {
  color: #3461FF;
  transform: scale(1.1);
}
.nav .nav-button {
  background-color: #3461FF;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 500px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 70px;
  color: #ffffff;
  transition: all 0.5s ease-in;
}
.nav .nav-button:hover {
  transform: scale(0.9);
  border: 1px solid #3461FF;
  background-color: #ffffff;
  color: #3461FF;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 80px 120px;
  gap: 72px;
}
.hero .hero-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.hero .hero-text .hero-h1 {
  font: 600 80px/88px "Inter", sans-serif;
  color: #000000;
}
.hero .hero-text .hero-p {
  font: 500 20px/32px "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.3764705882);
}
.hero .hero-text .hero-form .hero-email {
  height: 64px;
  padding: 16px 18px;
  background-color: FAFAFA;
  border: 1px solid rgba(0, 0, 0, 0.1254901961);
  border-radius: 37px;
  font: 500 18px "Inter", sans-serif;
  color: #AAAAAA;
}
.hero .hero-text .hero-submit {
  background-color: #3461FF;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 500px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 70px;
  color: #ffffff;
}
.hero .hero-img-div {
  width: 50%;
}
.hero .hero-img-div .hero-img {
  width: 100%;
  height: 600px;
  -o-object-fit: contain;
     object-fit: contain;
}

.company {
  background-color: #FAFAFA;
  height: 552px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.company .company-heading {
  font: 500 36px/150% "Inter", sans-serif;
  color: #000000;
  text-align: center;
  text-transform: capitalize;
}
.company .company-logos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: repeat(2, 50px);
  justify-content: space-between;
  align-items: center;
  grid-gap: 32px;
  padding: 0 120px;
}
.company .company-logos .company-logo {
  width: 170px;
  height: 48px;
  -o-object-fit: contain;
     object-fit: contain;
  align-self: center;
}

.nav {
  background-color: #ffffff;
  height: 88px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1254901961);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 120px;
}
.nav .logo {
  width: 144px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
}
.nav .links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.nav .links .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-family: "Inter", sans-serif;
  transition: all 0.5s ease-in;
}
.nav .links .link:hover {
  color: #3461FF;
  transform: scale(1.1);
}
.nav .nav-button {
  background-color: #3461FF;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 500px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 70px;
  color: #ffffff;
  transition: all 0.5s ease-in;
}
.nav .nav-button:hover {
  transform: scale(0.9);
  border: 1px solid #3461FF;
  background-color: #ffffff;
  color: #3461FF;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 80px 120px;
  gap: 72px;
}
.hero .hero-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.hero .hero-text .hero-h1 {
  font: 600 80px/88px "Inter", sans-serif;
  color: #000000;
}
.hero .hero-text .hero-p {
  font: 500 20px/32px "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.3764705882);
}
.hero .hero-text .hero-form .hero-email {
  height: 64px;
  padding: 16px 18px;
  background-color: FAFAFA;
  border: 1px solid rgba(0, 0, 0, 0.1254901961);
  border-radius: 37px;
  font: 500 18px "Inter", sans-serif;
  color: #AAAAAA;
}
.hero .hero-text .hero-submit {
  background-color: #3461FF;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 500px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 70px;
  color: #ffffff;
}
.hero .hero-img-div {
  width: 50%;
}
.hero .hero-img-div .hero-img {
  width: 100%;
  height: 600px;
  -o-object-fit: contain;
     object-fit: contain;
}

.commit {
  width: 100%;
  height: 536px;
  padding: 0 120px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40;
}
.commit .counter-div {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 216px);
  grid-template-rows: repeat(2, 125px);
  -moz-column-gap: 80px;
       column-gap: 80px;
  row-gap: 28px;
  justify-content: flex-start;
  align-items: flex-start;
}
.commit .counter-div .counter .counter-heading {
  font: 600 64px/100% "Inter", sans-serif;
  color: #0b0b0b;
}
.commit .counter-div .counter .counter-text {
  font: 500 16px/24px "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.3764705882);
  text-transform: capitalize;
}
.commit .commitment {
  width: 50%;
  height: 280px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
}
.commit .commitment .commit-heading {
  font: 500 64px/100% "Inter", sans-serif;
  color: #000000;
  text-transform: capitalize;
}
.commit .commitment .commit-text {
  font: 500 18px/32px "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.3764705882);
}
.commit .commitment .commit-but {
  font: 600 18px/24px "Inter", sans-serif;
  color: #3461ff;
  background-color: #ffffff;
  padding: 0;
  border: none;
  width: 120px;
  margin-top: 20px;
}

.nav {
  background-color: #ffffff;
  height: 88px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1254901961);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 120px;
}
.nav .logo {
  width: 144px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
}
.nav .links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.nav .links .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-family: "Inter", sans-serif;
  transition: all 0.5s ease-in;
}
.nav .links .link:hover {
  color: #3461FF;
  transform: scale(1.1);
}
.nav .nav-button {
  background-color: #3461FF;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 500px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 70px;
  color: #ffffff;
  transition: all 0.5s ease-in;
}
.nav .nav-button:hover {
  transform: scale(0.9);
  border: 1px solid #3461FF;
  background-color: #ffffff;
  color: #3461FF;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 80px 120px;
  gap: 72px;
}
.hero .hero-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.hero .hero-text .hero-h1 {
  font: 600 80px/88px "Inter", sans-serif;
  color: #000000;
}
.hero .hero-text .hero-p {
  font: 500 20px/32px "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.3764705882);
}
.hero .hero-text .hero-form .hero-email {
  height: 64px;
  padding: 16px 18px;
  background-color: FAFAFA;
  border: 1px solid rgba(0, 0, 0, 0.1254901961);
  border-radius: 37px;
  font: 500 18px "Inter", sans-serif;
  color: #AAAAAA;
}
.hero .hero-text .hero-submit {
  background-color: #3461FF;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 500px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 70px;
  color: #ffffff;
}
.hero .hero-img-div {
  width: 50%;
}
.hero .hero-img-div .hero-img {
  width: 100%;
  height: 600px;
  -o-object-fit: contain;
     object-fit: contain;
}

.howItWorks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 120px;
  height: 704px;
}
.howItWorks .hows {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: flex-start;
  align-items: flex-start;
}
.howItWorks .hows .how .how-heading {
  font: 500 64px/100% "Inter", sans-serif;
  color: #000000;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.howItWorks .hows .how .how-text {
  font: 500 18px/36px "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.3764705882);
  width: 499px;
}
.howItWorks .hows .how .how-img {
  width: 487px;
  height: 311px;
  -o-object-fit: contain;
     object-fit: contain;
}
.howItWorks .works {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 42px;
}
.howItWorks .works .work {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}
.howItWorks .works .work .work-img {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
.howItWorks .works .work .work-text .work-heading {
  font: 500 32px/32px "Inter", sans-serif;
  color: #000000;
}
.howItWorks .works .work .work-text .work-p {
  font: 500 16px/32px "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.3764705882);
  margin-top: 8px;
}

.nav {
  background-color: #ffffff;
  height: 88px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1254901961);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 120px;
}
.nav .logo {
  width: 144px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
}
.nav .links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.nav .links .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-family: "Inter", sans-serif;
  transition: all 0.5s ease-in;
}
.nav .links .link:hover {
  color: #3461FF;
  transform: scale(1.1);
}
.nav .nav-button {
  background-color: #3461FF;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 500px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 70px;
  color: #ffffff;
  transition: all 0.5s ease-in;
}
.nav .nav-button:hover {
  transform: scale(0.9);
  border: 1px solid #3461FF;
  background-color: #ffffff;
  color: #3461FF;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 80px 120px;
  gap: 72px;
}
.hero .hero-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.hero .hero-text .hero-h1 {
  font: 600 80px/88px "Inter", sans-serif;
  color: #000000;
}
.hero .hero-text .hero-p {
  font: 500 20px/32px "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.3764705882);
}
.hero .hero-text .hero-form .hero-email {
  height: 64px;
  padding: 16px 18px;
  background-color: FAFAFA;
  border: 1px solid rgba(0, 0, 0, 0.1254901961);
  border-radius: 37px;
  font: 500 18px "Inter", sans-serif;
  color: #AAAAAA;
}
.hero .hero-text .hero-submit {
  background-color: #3461FF;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 500px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 70px;
  color: #ffffff;
}
.hero .hero-img-div {
  width: 50%;
}
.hero .hero-img-div .hero-img {
  width: 100%;
  height: 600px;
  -o-object-fit: contain;
     object-fit: contain;
}

.our_work {
  padding: 40px 120px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.our_work .our_work_div .our_work_div_h {
  font: 500 64px/100% "Inter", sans-serif;
  color: #000000;
  text-align: center;
}
.our_work .our_work_div .our_work_div_p {
  font: 500 18px/32px "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.3764705882);
  text-align: center;
}
.our_work .work_display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.our_work .work_display .work_display_div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.our_work .work_display .work_display_div .work_display_p {
  font: 500 28px/100% "Inter", sans-serif;
  text-align: center;
  color: #000000;
}
.our_work .our_work_button {
  padding: 16px 48px;
  background-color: #3461FF;
  color: #ffffff;
  border-radius: 64px;
  border: none;
  font: 500 24px/100% "Inter", sans-serif;
  width: 205px;
  align-self: center;
  margin-top: 20px;
}

.nav {
  background-color: #ffffff;
  height: 88px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1254901961);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 120px;
}
.nav .logo {
  width: 144px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
}
.nav .links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.nav .links .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-family: "Inter", sans-serif;
  transition: all 0.5s ease-in;
}
.nav .links .link:hover {
  color: #3461FF;
  transform: scale(1.1);
}
.nav .nav-button {
  background-color: #3461FF;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 500px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 70px;
  color: #ffffff;
  transition: all 0.5s ease-in;
}
.nav .nav-button:hover {
  transform: scale(0.9);
  border: 1px solid #3461FF;
  background-color: #ffffff;
  color: #3461FF;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 80px 120px;
  gap: 72px;
}
.hero .hero-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.hero .hero-text .hero-h1 {
  font: 600 80px/88px "Inter", sans-serif;
  color: #000000;
}
.hero .hero-text .hero-p {
  font: 500 20px/32px "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.3764705882);
}
.hero .hero-text .hero-form .hero-email {
  height: 64px;
  padding: 16px 18px;
  background-color: FAFAFA;
  border: 1px solid rgba(0, 0, 0, 0.1254901961);
  border-radius: 37px;
  font: 500 18px "Inter", sans-serif;
  color: #AAAAAA;
}
.hero .hero-text .hero-submit {
  background-color: #3461FF;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 500px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 70px;
  color: #ffffff;
}
.hero .hero-img-div {
  width: 50%;
}
.hero .hero-img-div .hero-img {
  width: 100%;
  height: 600px;
  -o-object-fit: contain;
     object-fit: contain;
}

.brands {
  padding: 64px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.brands .brand {
  width: 90%;
  height: 371px;
  background-image: url("../Images/CTA Banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 180px;
}
.brands .brand .brand-heading {
  font: 500 64px/87px "Inter", sans-serif;
  color: #ffffff;
  width: 393px;
}
.brands .brand .branding {
  width: 483px;
}
.brands .brand .branding .branding_p {
  font: 500 20px/40px "Inter", sans-serif;
  color: #ffffff;
}
.brands .brand .branding .branding_but {
  padding: 16px 48px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 64px;
  border: none;
  font: 500 24px/100% "Inter", sans-serif;
  width: 205px;
  align-self: left;
  margin-top: 32px;
}

.nav {
  background-color: #ffffff;
  height: 88px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1254901961);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 120px;
}
.nav .logo {
  width: 144px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
}
.nav .links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.nav .links .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-family: "Inter", sans-serif;
  transition: all 0.5s ease-in;
}
.nav .links .link:hover {
  color: #3461FF;
  transform: scale(1.1);
}
.nav .nav-button {
  background-color: #3461FF;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 500px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 70px;
  color: #ffffff;
  transition: all 0.5s ease-in;
}
.nav .nav-button:hover {
  transform: scale(0.9);
  border: 1px solid #3461FF;
  background-color: #ffffff;
  color: #3461FF;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 80px 120px;
  gap: 72px;
}
.hero .hero-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.hero .hero-text .hero-h1 {
  font: 600 80px/88px "Inter", sans-serif;
  color: #000000;
}
.hero .hero-text .hero-p {
  font: 500 20px/32px "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.3764705882);
}
.hero .hero-text .hero-form .hero-email {
  height: 64px;
  padding: 16px 18px;
  background-color: FAFAFA;
  border: 1px solid rgba(0, 0, 0, 0.1254901961);
  border-radius: 37px;
  font: 500 18px "Inter", sans-serif;
  color: #AAAAAA;
}
.hero .hero-text .hero-submit {
  background-color: #3461FF;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 500px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 70px;
  color: #ffffff;
}
.hero .hero-img-div {
  width: 50%;
}
.hero .hero-img-div .hero-img {
  width: 100%;
  height: 600px;
  -o-object-fit: contain;
     object-fit: contain;
}

.teams {
  display: flex;
  flex-direction: row;
  padding: 64px 120px;
  gap: 80px;
  justify-content: center;
}
.teams .team_image .team_img {
  width: 600px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.teams .team_main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.teams .team_main .team {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.teams .team_main .team .team_heading {
  font: 500 64px/150% "Inter", sans-serif;
  color: #000000;
}
.teams .team_main .team .team_text {
  font: 400 16px/32px "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.3764705882);
}
.teams .team_main .team_but {
  padding: 16px 48px;
  background-color: #3461FF;
  color: #ffffff;
  border-radius: 64px;
  border: none;
  font: 500 24px/100% "Inter", sans-serif;
  width: 227px;
  margin-top: 20px;
}

.nav {
  background-color: #ffffff;
  height: 88px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1254901961);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 120px;
}
.nav .logo {
  width: 144px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
}
.nav .links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.nav .links .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-family: "Inter", sans-serif;
  transition: all 0.5s ease-in;
}
.nav .links .link:hover {
  color: #3461FF;
  transform: scale(1.1);
}
.nav .nav-button {
  background-color: #3461FF;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 500px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 70px;
  color: #ffffff;
  transition: all 0.5s ease-in;
}
.nav .nav-button:hover {
  transform: scale(0.9);
  border: 1px solid #3461FF;
  background-color: #ffffff;
  color: #3461FF;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 80px 120px;
  gap: 72px;
}
.hero .hero-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.hero .hero-text .hero-h1 {
  font: 600 80px/88px "Inter", sans-serif;
  color: #000000;
}
.hero .hero-text .hero-p {
  font: 500 20px/32px "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.3764705882);
}
.hero .hero-text .hero-form .hero-email {
  height: 64px;
  padding: 16px 18px;
  background-color: FAFAFA;
  border: 1px solid rgba(0, 0, 0, 0.1254901961);
  border-radius: 37px;
  font: 500 18px "Inter", sans-serif;
  color: #AAAAAA;
}
.hero .hero-text .hero-submit {
  background-color: #3461FF;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 500px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 70px;
  color: #ffffff;
}
.hero .hero-img-div {
  width: 50%;
}
.hero .hero-img-div .hero-img {
  width: 100%;
  height: 600px;
  -o-object-fit: contain;
     object-fit: contain;
}

.journey {
  padding: 64px 120px;
}
.journey .journey_div {
  background-image: url("../Images/CTA Banner 2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 455px;
  border-radius: 56px;
  padding-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
}
.journey .journey_div .journey_heading {
  font: 500 56px/63px "Inter", sans-serif;
  color: #ffffff;
  width: 521px;
  text-transform: capitalize;
}
.journey .journey_div .journey_button {
  padding: 16px 48px;
  background-color: #3461FF;
  color: #ffffff;
  border-radius: 64px;
  border: none;
  font: 500 24px/100% "Inter", sans-serif;
  width: 227px;
  margin-top: 20px;
}

.testimonials {
  width: 100%;
  padding: 64px 120px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.testimonials .testimonials_div .testimonials_heading {
  font: 500 64px/150% "Inter", sans-serif;
  color: #000000;
  text-transform: capitalize;
}
.testimonials .testimonials_main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.testimonials .testimonials_main .testimonial {
  width: 33%;
  height: 320px;
  background-color: #F8F9FF;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  color: #000000;
  transition: all 0.7s ease-in-out;
}
.testimonials .testimonials_main .testimonial .testimonial_header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.testimonials .testimonials_main .testimonial .testimonial_header img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonials .testimonials_main .testimonial .testimonial_header .testimonial_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}
.testimonials .testimonials_main .testimonial .testimonial_header .testimonial_info .testimonial_p1 {
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-size: 28px;
}
.testimonials .testimonials_main .testimonial .testimonial_header .testimonial_info .testimonial_p2 {
  font-weight: 500;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}
.testimonials .testimonials_main .testimonial .testimonial_text {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 32px;
}
.testimonials .testimonials_main .testimonial:hover {
  background-color: #3461FF;
  color: #ffffff;
}

.help {
  display: flex;
  flex-direction: row;
  gap: 120px;
  height: 582px;
  padding: 64px 120px;
  align-items: center;
}
.help .faqs {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.help .faqs .accordion {
  background-color: #ffffff;
  color: #000;
  cursor: pointer;
  padding: 20px 12px;
  width: 100%;
  border-top: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1254901961);
  border-left: none;
  border-right: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  line-height: 32px;
  transition: 0.4s;
  font-weight: 500;
}
.help .faqs .active, .help .faqs .accordion:hover {
  background-color: rgba(52, 97, 255, 0.1254901961);
}
.help .faqs .accordion:after {
  content: "+";
  color: #000000;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.help .faqs .active:after {
  content: "−";
}
.help .faqs .panel {
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 18px;
  background-color: rgb(255, 255, 255);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.help .faqs .panel_text {
  font: 400 16px/32px "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.3764705882);
  margin-bottom: 20;
}
.help .help_div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.help .help_div .help_heading {
  font: 500 40px/54px "Inter", sans-serif;
  color: #000000;
  width: 100%;
}
.help .help_div .help_text {
  font: 500 20px/36px "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.3764705882);
  width: 431px;
}
.help .help_div .email_div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 8px;
}
.help .help_div .email_div .email-input {
  width: 312px;
  height: 59px;
  border-radius: 32px;
  border: 1px solid rgba(0, 0, 0, 0.1254901961);
  padding: 18px 20px;
  font: 500 16px/100% "Inter", sans-serif;
  color: #AAAAAA;
  outline: none;
  background-color: #FAFAFA;
}
.help .help_div .email_div .submit-button {
  padding: 18px 24px;
  background-color: #3461FF;
  color: #ffffff;
  border-radius: 70px;
  border: none;
  font: 500 16px/100% "Inter", sans-serif;
  width: 144px;
  align-self: left;
}
.help .help_div .help_but {
  padding: 0;
  color: #3461FF;
  background-color: #ffffff;
  border: none;
  font: 600 20px/24px "Inter", sans-serif;
  width: 120px;
  text-decoration: underline;
  margin-top: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-bottom: 500px;
}/*# sourceMappingURL=style.css.map */