@import "./header";
.brands{
    padding: 64px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .brand{
        width: 90%;
        height: 371px;
        background-image: url("../Images/CTA\ Banner.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 32px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
gap: 180px;

        .brand-heading{
            font: 500 64px/87px $primaryFont;
            color: #ffffff;
            width: 393px;  
        }
        .branding{
            width: 483px; 
            .branding_p{
                font: 500 20px/40px $primaryFont;
                color: #ffffff;      
            }
            .branding_but{
        padding: 16px 48px;
        background-color: #ffffff;
        color: #000000;
        border-radius: 64px;
        border: none;
        font: 500 24px/100% $primaryFont;
        width: 205px;
        align-self: left;
        margin-top: 32px;
            }
        }
    }
}