@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$primaryFont: "Inter", sans-serif;

.company{
    background-color: #FAFAFA;
    height: 552px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    // padding: auto 120px ;
    .company-heading{
        font: 500 36px/150% $primaryFont;
        color: #000000;
        text-align: center;
        text-transform: capitalize;
    }
    .company-logos{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 200px);
        grid-template-rows: repeat(2, 50px);
        justify-content: space-between;
        align-items: center;
        grid-gap: 32px;
        padding: 0 120px;

        .company-logo{
            width: 170px;
            height: 48px;
            object-fit: contain;
            align-self: center;
        
        }
        
    }
}