@import "./header";

.journey{
    padding: 64px 120px;
    .journey_div{
        background-image: url("../Images/CTA\ Banner\ 2.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 455px;
        border-radius: 56px;
        padding-left:70px ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 80px;
        .journey_heading{
            font: 500 56px/63px $primaryFont;
            color: #ffffff;
            width: 521px;
            text-transform: capitalize;
        }
        .journey_button{
            padding: 16px 48px;
        background-color: #3461FF;
        color: #ffffff;
        border-radius: 64px;
        border: none;
        font: 500 24px/100% $primaryFont;
        width: 227px;
        // align-self: center;
        margin-top: 20px;
        }
    }
}

@media screen and (min-width:1400px){
    .journey{
        width: 1400px;
    justify-self: center;
    }
}
@media screen and (max-width:1310px){
    .journey{
    padding: 64px 40px;
    .journey_div{
        background-image: url("../Images/CTA\ Banner\ 2.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 455px;
        border-radius: 56px;
        padding-left:70px ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 80px;
        .journey_heading{
            font: 500 52px/63px $primaryFont;
            color: #ffffff;
            width: 521px;
            text-transform: capitalize;
        }
         }
    }
}

@media screen and (max-width:1000px){
    .journey{
    padding: 40px 40px;
    .journey_div{
        background-image: url("../Images/CTA\ Banner\ 2.png");
        background-position: center left;
        background-repeat: no-repeat;
        background-size: cover;
        height: 355px;
        border-radius: 56px;
        padding-left:40px 40px ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        .journey_heading{
            font: 500 48px/63px $primaryFont;
            color: #ffffff;
            width: 500px;
            text-transform: capitalize;
        }
        .journey_button{
            padding: 14px 40px;
        background-color: #3461FF;
        color: #ffffff;
        border-radius: 64px;
        border: none;
        font: 500 20px/100% $primaryFont;
        width: fit-content;
        // align-self: center;
        margin-top: 20px;
        }
    }
}
}
@media screen and (max-width:768px){
    .journey{
    padding: 40px 20px;
    .journey_div{
        background-image: url("../Images/CTA\ Banner\ 2.png");
        background-position: center left;
        background-repeat: no-repeat;
        background-size: cover;
        height: 270px;
        border-radius: 56px;
        padding:40px 28px ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        .journey_heading{
            font: 500 32px/48px $primaryFont;
            color: #ffffff;
            width: 70%;
            text-transform: capitalize;
        }
        .journey_button{
            padding: 14px 40px;
        background-color: #3461FF;
        color: #ffffff;
        border-radius: 64px;
        border: none;
        font: 500 16px/100% $primaryFont;
        width: fit-content;
        // align-self: center;
        margin-top: 8px;
        }
    }
}
}
@media screen and (max-width:500px){
    .journey{
    padding: 40px 20px;
    .journey_div{
        background-image: url("../Images/CTA\ Banner\ 2.png");
        background-position: center left;
        background-repeat: no-repeat;
        background-size: cover;
        height: 230px;
        border-radius: 36px;
        padding:20px ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        .journey_heading{
            font: 500 24px/48px $primaryFont;
            color: #ffffff;
            width: 100%;
            text-transform: capitalize;
        }
        .journey_button{
            padding: 12px 32px;
        background-color: #3461FF;
        color: #ffffff;
        border-radius: 64px;
        border: none;
        font: 500 14px/100% $primaryFont;
        width: fit-content;
        // align-self: center;
        margin-top: 8px;
        }
    }
}
}
