@import "./header";

.our_work{
    padding: 40px 120px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
    .our_work_div{
        .our_work_div_h{
            font: 500 64px/100% $primaryFont;
            color: #000000;
            text-align: center
        }
        .our_work_div_p{
            font: 500 18px/32px $primaryFont;
            color: #00000060;
            text-align: center
        }
    }
    .work_display{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        .work_display_div{
            display: flex;
            flex-direction: column;
            gap: 16px;
            .work_display_p{
                font: 500 28px/100% $primaryFont;
                text-align: center;
                color: #000000;
            }
        }
    }
    .our_work_button{
        padding: 16px 48px;
        background-color: #3461FF;
        color: #ffffff;
        border-radius: 64px;
        border: none;
        font: 500 24px/100% $primaryFont;
        width: 205px;
        align-self: center;
        margin-top: 20px;
    }
}
@media screen and (min-width: 1200px){
    .our_work{
        padding: 40px 200px;
        max-width: 1200px;
        margin: 0 auto;
        
}
}
@media screen and (max-width: 768px) {
    .our_work{
        padding:40px 20px;
        .our_work_div{
            .our_work_div_h{
                font-size: 48px;
            }
            .our_work_div_p{
                font-size: 16px;
            }
        }
        .work_display{
            flex-direction: column;
            align-items: center;
            gap: 40px;
            .work_display_div{
                .work_display_p{
                    font-size: 24px;
                }
            }
        }
        .our_work_button{
            // width: auto;
            padding: 12px 24px;
            font-size: 16px;

        }
    }
    
}

@media screen and (max-width: 480px) {
    .our_work{
        padding: 40px 20px;
        .our_work_div{
            .our_work_div_h{
                font-size: 32px;
            }
            .our_work_div_p{
                font-size: 14px;
            }
        }
        .work_display{
            gap: 40px;
            .work_display_div{
                .work_display_img{
                    width: 100%;
                    height: auto;
                }
                .work_display_p{
                    font-size: 20px;
                }
            }
        }
        .our_work_button{
            padding: 10px 20px;
            font-size: 14px;
        }
    }
    
}
