@import "./header";

$primaryFont: "Inter", sans-serif;

.teams {
  display: flex;
  flex-direction: row;
  padding: 64px 120px;
  gap: 80px;
  justify-content: center;

  .team_image {
    .team_img {
      width: 600px;
      height: 400px;
      object-fit: cover;
    }
  }
  .team_main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .team {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .team_heading {
        font: 500 64px/150% $primaryFont;
        color: #000000;
      }
      .team_text {
        font: 400 16px/32px $primaryFont;
        color: #00000060;
      }
    }
    .team_but {
      padding: 16px 48px;
      background-color: #3461ff;
      color: #ffffff;
      border-radius: 64px;
      border: none;
      font: 500 24px/100% $primaryFont;
      width: 227px;
      // align-self: center;
      margin-top: 20px;
    }
  }
}

@media screen and (min-width: 1400px) {
  .teams {
    width: 1400px;
    justify-self: center;
  }
}

@media screen and (max-width: 1380px) {
    .teams {

  .team_image {
    width: 50%;
    .team_img {
      width: 100%;
      height: fit-content;
      object-fit: contain;
    }
  }
  .team_main {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .team {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .team_heading {
        font: 500 48px/150% $primaryFont;
        color: #000000;
      }
      .team_text {
        font: 400 16px/32px $primaryFont;
        color: #00000060;
      }
    }
  }
}
  
}

@media screen and (max-width: 1150px) {
  .teams {
    padding: 64px 40px;
    justify-content: space-between;
    gap: 40px;
    .team_image {
      width: 50%;
      .team_img {
        width: 100%;
        height: fit-content;
        object-fit: contain;
      }
    }
    .team_main {
      width: 50%;
      .team {
        .team_heading {
          font: 500 36px/150% $primaryFont;
          color: #000000;
        }
        .team_text {
          font: 400 16px/28px $primaryFont;
          color: #00000060;
        }
      }
      .team_but {
        padding: 16px 40px;
        font: 500 18px/100% $primaryFont;
        width: fit-content;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .teams {
    flex-direction: column-reverse;
    padding: 40px;
    gap: 40px;
    justify-content: center;
    align-items: center;

    .team_image {
      width: 100%;
      .team_img {
        width: 100%;
        height: fit-content;
      }
    }
    .team_main {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      .team {
        gap: 12px;

        .team_heading {
          font: 500 48px/150% $primaryFont;
        }
        .team_text {
          font: 400 16px/32px $primaryFont;
          width: 80%;
          align-self: center;
        }
      }
      .team_but {
        padding: 12px 36px;
        font: 500 18px/100% $primaryFont;
        width: 227px;
        margin-top: 16px;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .teams {
    padding: 20px;
    .team_image {
      width: 100%;
      .team_img {
        width: 100%;
        height: fit-content;
      }
    }
    .team_main {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      .team {
        gap: 12px;

        .team_heading {
          font: 500 32px/150% $primaryFont;
        }
        .team_text {
          font: 400 14px/20px $primaryFont;
          width: 100%;
        }
      }
      .team_but {
        padding: 12px 36px;
        font: 500 14px/100% $primaryFont;
        width: fit-content;
      }
    }
  }
}
